<!DOCTYPE html>
<html lang="en">
 
<head>
	<title>Your Main Page</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> 
</head>
 

<body> 
	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="/login">Login |</a>
					</li>
					<li role="presentation"><a href="register">Register |</a>
					</li>
					<li role="presentation"><a href="reregister">Re-Register</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">MAIN PAGE</h3>
		</div>
 
		<div class="jumbotron">
			<h1>Three Factor Authentication</h1>
			<p class="lead"></p>
			<p><a class="btn btn-lg btn-success" href="/register" role="button">Sign up today</a>
			</p>
		</div>
 
		<div class="row marketing">
			<div>
				<h4><a href="/login">Login</a></h4>
				<p>This page is meant for users to login. Users have to enter their Username and Password here.</p>
 
				<h4><a href="/register">Register</a></h4>
				<p>This page for new users to register to use the service. Users have to choose their username and password which they will use for login.</p>
 
				<h4><a href="/reregister">Re-Register</a></h4>
				<p>If by any chance, the user loses his ID and/or password, he has to re-register with the service.</p>
			</div>
 
		</div>
 
		<footer class="footer">
			<p>&copy; Aditya Jain</p>
		</footer>
 
	</div>
</body>
 
</html>